.signUpWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
